.dark-mode {
    background-color: #1E1D1B;
    color: #FFFFFF;
    font-family: serif;
}

.dark-mode .border-special {
    border: 2px solid #a18348;
    border-image: linear-gradient(90deg, #a18348 0%, #e2d880 50%, #a18348 100%);
    border-image-slice: 1;
}

.dark-mode.border-special {
    border: 2px solid #a18348;
    border-image: linear-gradient(90deg, #a18348 0%, #e2d880 50%, #a18348 100%);
    border-image-slice: 1;
}

.dark-mode .btn-special {
    border: 2px solid #a18348;
    border-image: linear-gradient(90deg, #e2d880 0%, #a18348 50%, #a18348 100%);
    border-image-slice: 1;
    padding: 4px 8px;
    background-color: #1E1D1B;
    color: #ffffff;
}

.dark-mode.btn-special {
    border: 2px solid #a18348;
    border-image: linear-gradient(90deg, #e2d880 0%, #a18348 50%, #a18348 100%);
    border-image-slice: 1;
    padding: 4px 8px;
    background-color: #1E1D1B;
    color: #ffffff;
}

.dark-mode .btn-special:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.dark-mode.btn-special:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}