/* ヘッダー部分 */
.white-mode .header {
    text-align: center;
    width: 100%;
    z-index: 8;
    padding: 7px 0px 2px;
    background-color: rgb(98, 236, 255);
    background-image: linear-gradient(90deg, rgb(109, 238, 255) 0%, rgb(0, 135, 255) 100%);
    font-size: 22px;
}

/* ヘッダーの文字の色 */
.white-mode .special-color {
    color: white;
}

/* ヘッダー部分 */
.dark-mode .header {
    text-align: center;
    width: 100%;
    z-index: 8;
    padding: 7px 0px 2px;
    background-color: #0C0950;
    background-image: linear-gradient(90deg, #0C0950 0%, #1703D0 50%, #0C0950 100%);
    font-size: 22px;
    font-family: serif;
    /* ヘッダーのボーダー */
    border-top: 2px solid #a18348;
    border-bottom: 2px solid #a18348;
    border-image: linear-gradient(90deg, #a18348 0%, #e2d880 50%, #a18348 100%);
    border-image-slice: 1;
}

/* ヘッダーの文字の色 */
.dark-mode .special-color {
    color: rgb(228, 211, 145);
}
